<div class="main">
  <form #f="ngForm"
        (ngSubmit)="chooseTown(f)"
        [@moveUp]="animVar ? 'center' : 'up'">
    <input placeholder="Search"
           name="search"
           type="text"
           (keypress)="test(f)"
           [(ngModel)]="formValue">
    <button>Submit</button>
  </form>
  <div [@changeOpacity]="animVar ? 'zero' : 'full'">
    <app-canvas [speedData]="(this.sessionQuery.weatherData$ | async)?.wind.speed / 100"></app-canvas>
    <div class="wind">Wind speed: {{(this.sessionQuery.weatherData$ | async)?.wind.speed}} {{speedSystem}}</div>
  </div>
  <div class="main-temp">
    <div class="degree-wrapper"
         [@changeOpacity]="animVar ? 'zero' : 'full'">
      {{(this.sessionQuery.weatherData$ | async)?.main.temp | round}} {{degreeLetter}}
      <div class="temp" id="temp"
           *ngIf="weatherData !== null">o
      </div>
    </div>
  </div>
  <div class="temp-info"
       @insertTrigger *ngIf="secondAnimVar">
    <div><p class="p-temp-info">Feels like: {{(this.sessionQuery.weatherData$ | async)?.main.feels_like | round}}</p></div>
    <div><p class="p-temp-info">Cloudiness: {{(this.sessionQuery.weatherData$ | async)?.clouds.all}}%</p></div>
    <div><p class="p-temp-info">Humidity: {{(this.sessionQuery.weatherData$ | async)?.main.humidity | round}}%</p></div>
    <div><p class="p-temp-info">Pressure: {{(this.sessionQuery.weatherData$ | async)?.main.pressure | round}}</p></div>
  </div>
</div>
