<div class="main">
  <app-settings @insertSideSettings *ngIf="setVar"></app-settings>
  <app-search
    [@moveInputUp]="(this.sessionQuery.weatherData$ | async) ? 'up' : 'center'"
    (showErrorEvent)="showError($event)"></app-search>
  <div [@showTemp]="tempAnimation ? 'zero' : 'full'">
    <ng-template [ngIf]="(this.sessionQuery.weatherData$ | async) !== null" [ngIfElse]="noData" >
      <div class="translate-container">
        <button mat-flat-button
                id="first"
                class="translate-buttons"
                (click)="changeTranslateValuePositive()"
                *ngIf="negativeButton"><</button>
        <button mat-flat-button
                id="second"
                class="translate-buttons"
                (click)="changeTranslateValueNegative()"
                *ngIf="positiveButton">></button>
      </div>
      <div class="forecast">
        <div *ngFor="let item of (this.sessionQuery.forecastData$ | async)?.list"
             [ngStyle]="{'transform': 'translateX(' + translateXValue + 'vw)', 'transition-duration': '500ms'}"
             class="container">
          <img src="http://openweathermap.org/img/wn/{{item.weather[0].icon}}@2x.png"
               alt="weather icon"
               title="{{item.weather[0].main}}">
          <div>
            <p>{{item.weather[0].description}}</p>
          </div>
          <div>
            <p>{{item.dt_txt.slice(10, -3)}}</p>
          </div>
          <div>
            <p>{{item.main.temp | number:'1.0-0'}}&deg;{{degreeLetter}}</p>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="wind">
          <app-canvas [speedData]="(this.sessionQuery.weatherData$ | async)?.wind.speed / 100"></app-canvas>
          <p>{{(this.sessionQuery.weatherData$ | async)?.wind.speed}} {{speedSystem}}</p>
          <p id="description">{{(this.sessionQuery.weatherData$ | async)?.weather[0].description}}</p>
        </div>
        <div class="sun">
          <p>sunrise {{(this.sessionQuery.weatherData$ | async)?.sys.sunrise | sunDate}} ...
            {{(this.sessionQuery.weatherData$ | async)?.sys.sunset | sunDate}} sunset</p>
        </div>
        <div class="time">
          <p>forecast time: {{(this.sessionQuery.forecastTime$ | async) | date:'H:mm'}}</p>
        </div>
        <div class="main-temp">
          {{(this.sessionQuery.weatherData$ | async)?.main.temp | number:'1.0-0'}}&deg;{{degreeLetter}}
          <div>
            <img src="http://openweathermap.org/img/wn/{{(this.sessionQuery.weatherData$ | async)?.weather[0].icon}}@2x.png"
                 alt="weather icon"
                 title="{{(this.sessionQuery.weatherData$ | async)?.weather[0].main}}">
          </div>
        </div>
      </div>
      <div class="temp-info" @insertTempData *ngIf="tempDataAnimation">
        <div>
          <p>Feels like: {{(this.sessionQuery.weatherData$ | async)?.main.feels_like | number:'1.0-0'}}
            &deg;{{degreeLetter}}</p>
        </div>
        <div>
          <p>Cloudiness: {{(this.sessionQuery.weatherData$ | async)?.clouds.all}}%</p>
        </div>
        <div>
          <p>Humidity: {{(this.sessionQuery.weatherData$ | async)?.main.humidity | number:'1.0-0'}}%</p>
        </div>
        <div>
          <p>Pressure: {{(this.sessionQuery.weatherData$ | async)?.main.pressure | number:'1.0-0'}} hPa</p>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="thanks">
    <p class="data">
      All data is brought to you by
      <a href="https://openweathermap.org/" title="https://openweathermap.org/">openweathermap.org</a>
    </p>
  </div>
  <div class="copyright">&copy; Ioannis Mikhailidis</div>
</div>
<ng-template #noData>
  <div class="no-data">
    <p>Loading...</p>
    <div class="lds-roller">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
  </div>
  <div class="data-error" *ngIf="checkData"><p>If it takes for too long, you might have not chosen city or made a mistake!</p></div>
</ng-template>
