<div class="main">
  <app-settings @sideSettings *ngIf="setVar"></app-settings>
  <form #form="ngForm"
        (ngSubmit)="submitCity(form)"
        [@moveUp]="animVar ? 'center' : 'up'">
    <input placeholder="Search"
           name="search"
           type="text"
           (keypress)="search(form)"
           [(ngModel)]="formValue"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let city of showedCities" [value]="city">
        {{city}}
      </mat-option>
    </mat-autocomplete>
    <button>
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </form>
  <div [@changeOpacity]="animVar ? 'zero' : 'full'">
    <app-canvas [speedData]="(this.sessionQuery.weatherData$ | async)?.wind.speed / 100"></app-canvas>
    <div class="wind">Wind speed: {{(this.sessionQuery.weatherData$ | async)?.wind.speed}} {{speedSystem}}</div>
  </div>
  <div class="main-temp">
    <div class="degree-wrapper"
         [@changeOpacity]="animVar ? 'zero' : 'full'">
      {{(this.sessionQuery.weatherData$ | async)?.main.temp | round}}&deg;{{degreeLetter}}
    </div>
  </div>
  <div class="temp-info" @insertTrigger *ngIf="secondAnimVar">
    <div>
      <p>
        Feels like: {{(this.sessionQuery.weatherData$ | async)?.main.feels_like | round}}&deg;{{degreeLetter}}</p>
    </div>
    <div>
      <p>Cloudiness: {{(this.sessionQuery.weatherData$ | async)?.clouds.all}}%</p>
    </div>
    <div>
      <p>Humidity: {{(this.sessionQuery.weatherData$ | async)?.main.humidity | round}}%</p>
    </div>
    <div>
      <p>Pressure: {{(this.sessionQuery.weatherData$ | async)?.main.pressure | round}} hPa</p>
    </div>
  </div>
  <div class="thanks">
    <p class="data">
      All data is brought to you by <a href="https://openweathermap.org/">openweathermap.org</a>
    </p>
  </div>
  <div class="copyright">&copy; Ioannis Mikhailidis</div>
</div>
