.main {
  height: 94%;
  width: 100%;
  background-color: #4697e6;
}

app-settings {
  position: absolute;
  right: 0;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1.6vmax;
}

input {
  background: rgba(255, 255, 255, 0.6);
  outline: 0;
  right: 15%;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  width: 26vw;
  padding: 2px;
  border: 0;
  height: 4vh;
  font-size: 1em;
  transition: background 300ms linear;
}

input:focus {
  background: rgba(255, 255, 255, 1);
}

input:hover {
  background: rgba(255, 255, 255, 1);
}

a {
  color: #8CBBEA;
  transition: color 170ms linear;
}

a:hover {
  color: #bbdaea;
}

button {
  outline: 0;
  cursor: pointer;
  background: rgba(140, 187, 234, 0.5);
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  padding: 10px 10px 9px;
  border: 0;
  font-size: 2vh;
  transition: background 350ms linear;
}

button:hover {
  background: rgba(140, 187, 234, 1);
}

p {
  color: white;
}

.data {
  font-size: 1vmax;
}

.wind {
  cursor: default;
  top: 36vh;
  left: 6vw;
  font-size: 2.5vmin;
  position: absolute;
}

.main-temp {
  position: absolute;
  top: 19vh;
  left: 5vw;
  cursor: default;
  font-size: 11vmin;
}

.temp-info {
  position: absolute;
  left: 20%;
  top: 67%;
  cursor: default;
  background: rgba(61, 81, 102, 0.65);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 30vw);
  grid-template-rows: repeat(2, 15vh);
  width: 60vw;
  height: 30vh;
  font-size: 3.2vmin;
}

.temp-info > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanks {
  background: #1F4266;
  width: 100%;
  position: absolute;
  top: 96%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 4%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-size: 0.9vmax;
}
