.main {
  height: 90vh;
  width: 100%;
  background-color: #4697e6;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 2.5vh;
}

input {
  outline: 0;
  right: 15%;
  border-radius: 10px;
  width: 26vw;
  padding: 2px;
  border: 0;
  height: 24px;
  font-size: 1.4em;
}

a {
  color: #8CBBEA;
}

button {
  outline: 0;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 17px;
  border: 0;
  font-size: 2vh;
}

.p-temp-info {
  margin: 0;
  line-height: 5vh;
  text-align: center;
}

.wind {
  cursor: default;
  top: 33vh;
  left: 7vw;
  font-size: 2.5vmin;
  position: absolute;
}

.main-temp {
  position: absolute;
  top: 19vh;
  left: 5vw;
  cursor: default;
  font-size: 11vmin;
}

.temp-info {
  position: absolute;
  left: 25%;
  top: 50%;
  border-radius: 7px;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  flex-wrap: wrap;
  cursor: default;
  display: grid;
  grid-template-columns: repeat(2, 25vw);
  grid-template-rows: repeat(2, 7.5vh);
  width: 50vw;
  height: 15vh;
  font-size: 1.8vmax;
}

.temp-info > div {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.82);
}

.thanks {
  background: #1F4266;
  width: 100%;
  position: absolute;
  top: 96%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-phrase {
  color: white;
}
